section{
    background-color: blueviolet;
    padding: 50px;
    }
    button{background-color: rgb(166, 44, 44);
    padding-bottom: 10px;
    border:none;font-family:fantasy;
    font: optional;
    }